/** PRIMARY #d0e2ba
/** PRIMARY rgba(208, 226,186,.3)

/** SECONDARY #2f5600
/** SECONDARY rgba(47,86,0, .3)

/** NEUTRAL #4d4d4d
/** NEUTRAL rgba(77,77,77,.3);

/** ACCENT #ad5757
/** ACCENT rgba(173,87,87,.3)
*/

html, body, ul, li{
    margin: 0;
    padding: 0;
}

/**
 *  GLOBAL STYLES
 **/
 
.container{
    width: 960px;
    margin: 0 auto;
}

.more-info{
    text-align: right;
}

.margin.left{
  margin-left: 5%;
}

.margin.right{
  margin-right: 5%;
}

/**
 *  HEADER STLYES
 **/
 
#site-header{
    position: relative;
}

#site-header-image{
    height: 190px;
    overflow: hidden;
    z-index: -1;
}

#site-header-image img{
    width: 100%;
    min-height: 190px;
}

#logo{
    position: absolute;
    top: 0;
}

/**
 *  MENU STLYES
 **/
 
.menu-nav-container{

}

ul#main-menu{ 
    padding: 0; 
}

ul#main-menu li{ 
    display: inline-block;
    padding: .5em 1em;
    margin: 0;
}
 
#navigation .section{
    text-align: right;
    height: 80px;  
}

#navigation .section ul{  
    border-top: 5px solid #fff;
    background: #d0e2ba;
    background: rgba(208, 226,186,.3);
}

#navigation .section li{
    border-left: 2px solid #fff;
}

#navigation .section li.first{
    border: 0;
}

#navigation .section li.active{
}

#navigation .section li.active a{
    color: #4d4d4d;
}

#navigation .section li a{
    color: #ad5757;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    display: block;
}

#navigation .section li a:hover{
    color: #4d4d4d;
}

/**
 *  RIGHT COLUMN ITEMS
 **/
 
.one-fourth{
    width: 20%;
    float: left;
}

.three-fourths{
    width: 75%;
    float: left;  
}

.full-width{
  width: 100%;
}

.one-fourth .item{
   margin-bottom: 1em;
}   

.one-fourth .item h4{
    padding: .5em 1em;
    margin: 0;
    color: #fff;
    background: #2f5600;
}

.one-fourth .item .content{
    padding: 1em;
    border: 1px solid #e6e6e6;
}

.one-fourth .item p{
    font-size: .7em;
}

.one-fourth .item img{
    width: 100%;
}

/**
 *  FOOTER STLYES
 **/
#site-footer .container{
    padding: 1em;
    background: #ad5757;           
    background: rgab(173,87,87,.3);
    color: #fff;
    font-size: .8em;
}

#site-footer .container p{
    color: #000;
}

.menu-nav-container.footer{
    border-bottom: 1px solid #fff;    
    border-bottom: 1px solid rgba(255,255,255,.3);    
}

.menu-nav-container.footer ul li a{
    color: #fff;
    text-decoration: none;
}

.menu-nav-container.footer ul li:hover{
    background: #fff;
    color: #4d4d4d;
}

.menu-nav-container.footer ul li a:hover{
    color: #4d4d4d;
}

/**
 *  CSS CLEARFIX
 **/

clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

